body {
    font-family: SUIT;
    letter-spacing: -0.02em;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-top: 0vw;
    word-break: normal;
}

header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    border-bottom: 4px solid black;
    font-size: 43px;
    font-weight: 600;
    width: 96.3vw;
    padding-bottom: 0.7vw;
    padding-top: 1.8vw;
    margin-right: 2vw;
    letter-spacing: -0.02em;
    background: white;
    top: 0;
    margin-right: 1vw;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.nav {
    text-align: right;
    padding-left: 1.5vw;
}

.work {
    margin-top: 7.5vw;
    margin-bottom: 1vw;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    width: 23.5vw;
    margin-top: 0.5vw;
}

.thumbnailtitle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.portfolio {
    display: flex;
    margin-top: 8vw;
}

.img {
    display: flex;
    width: 48vw;
    margin-bottom: 2vw;
}

.portfoliotxt {
    position: fixed;
    width: 45.7vw;
    margin-left: 50.5vw;
}

.title {
    display: block;
    font-size: 25px;
    word-break: normal;
    font-weight: 600;
    padding-top: 0.7vw;
    padding-bottom: 3.5vw;
    border-bottom: 3px solid black;
    margin: 0vw 0vw 0vw 0vw;
    letter-spacing: 0em;
}

.explain {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 3.5vw;
    padding-top: 0.5vw;
    border-bottom: 3px solid black;
    margin: 0vw 0vw 0vw 0vw;
}

.content {
    display: block;
    font-size: 25px;
    font-weight: 600;
    margin-right: 1.5vw;
    padding-top: 0.7vw;
    margin-top: 0px;
    letter-spacing: 0em;
    line-height: 1.6;
}

.info {
    display: flex;
    margin-top: 8vw;
}

.infoleft {
    position: fixed;
    width: 47.4vw;
    margin-right: 1.5vw;
    font-size: 35px;
}

.infoleft .content {
    font-size: 40px;
    margin-top: 0;
    width: 47vw;
}

.inforight {
    margin-left: 48.9vw;
    width: 47.4vw;
    margin-bottom: 2vw;
}

.year {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    width: 6vw;
}

.history {
    width: 48vw;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    padding-top: 1vw;
    margin-top: 0px;
    letter-spacing: 0em;
    line-height: 1;
    margin-bottom: 0;
}

.future {
    color: #cecece;
    width: 48vw;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    padding-top: 1vw;
    margin-top: 0px;
    letter-spacing: 0em;
    line-height: 1;
    margin-bottom: 0;
}

.btn {
    background: black;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
}

.btn:hover {
    background: black;
    color: white;
    text-decoration: underline;
    padding: 12px 20px;
    font-size: 20px;
}

.mo_btn {
    display: none;
}


@media screen and (max-width:810px) {

    html,
    body {
        margin: 0;
        padding: 0;
    }

    header {
        position: fixed;
        display: block;
        border-bottom: 4px solid black;
        font-size: 2em;
        font-weight: 600;
        width: 100vw;
        padding-top: 0.25em;
        letter-spacing: -0.02em;
        top: 0;
    }

    .logo {
        display: block;
        text-align: center;
        padding-bottom: 0.2em;
        border-bottom: 4px solid black;
        background: white;
    }

    .navdiv {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        padding: 0;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 0;
        padding-top: 0.3em;
        padding-bottom: 0.1em;
        background: white;
    }

    .nav {
        text-align: center;
    }

    .work {
        padding-left: 0.75em;
        padding-right: 0.75em;
        margin-top: 9em;
        margin-bottom: 2em;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .thumbnail {
        width: 45vw;
        margin-top: 0.5em;
    }

    .thumbnailtitle {
        font-size: 1em;
        font-weight: 600;
        margin-top: 0.5em;
        text-align: center;
    }

    .portfolio {
        display: block;
        margin-top: 9em;
    }

    .img {
        display: block;
        width: 92.5vw;
        padding-left: 3.25vw;
        padding-right: 3.25vw;
        margin-bottom: 2vw;
    }

    .portfoliotxt {
        position: static;
        display: block;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .portfolioimg {
        display: block;
    }

    .title {
        display: block;
        font-size: 1.2em;
        word-break: normal;
        font-weight: 600;
        padding-top: 1em;
        padding-bottom: 2em;
        border-bottom: 2.5px solid black;
        margin: 0vw 0vw 0vw 0vw;
        letter-spacing: 0em;
    }

    .explain {
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 2em;
        padding-top: 0.5em;
        border-bottom: 2.5px solid black;
        margin: 0vw 0vw 0vw 0vw;
    }

    .content {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 4em;
        padding-top: 0.5em;
        margin-top: 0px;
        letter-spacing: 0em;
        line-height: 1.6;
    }

    .mo_btn {
        display: block;
        font-size: 2em;
        font-weight: 600;
        padding-left: 3.5vw;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        border-top: 4px solid black;
    }

    .btn {
        background: black;
        color: white;
        padding: 10px 15px;
        font-size: 0.9em;
    }

    .btn:hover {
        background: black;
        color: white;
        text-decoration: underline;
        padding: 10px 15px;
        font-size: 0.9em;
    }

    .info {
        display: block;
        margin-top: 9em;
    }

    .infoleft {
        position: static;
        width: 90vw;
        margin-right: 1.5vw;
        font-size: 1.37em;
        margin-left: 5vw;
        margin-bottom: 0;
    }

    .infoleft .content {
        font-size: 1.37em;
        margin-top: 0;
        width: 90vw;
        margin-bottom: 0;
        padding-bottom: 0em;
    }

    .inforight {
        width: 90vw;
        font-size: 1.1em;
        margin-bottom: 5em;
        margin-left: 5vw;
        padding-top: 0.5em;
    }

    .year {
        display: block;
        font-size: 1.1em;
        font-weight: 600;
        width: 90vw;
        margin-bottom: 0.3em;
        margin-top: 0.8em;
    }

    .history {
        width: 90vw;
        display: block;
        font-size: 1.1em;
        font-weight: 600;
        padding-top: 0;
        margin-top: 0px;
        letter-spacing: 0em;
        line-height: 1;
        margin-bottom: 0;
    }

    .future {
        color: #cecece;
        width: 90vw;
        display: inline-block;
        font-size: 1.1em;
        font-weight: 600;
        padding-top: 0;
        margin-top: 0px;
        letter-spacing: 0em;
        line-height: 1;
        margin-bottom: 0;
    }

    .infoborder {
        border-top: 3px solid black;
        padding-top: 1.3em;
    }

    .infoborder2 {
        padding-top: 1.5em;
    }
}